# 02-4 튜플 자료형

- https://wikidocs.net/15

In [1]:
t1 = ()
t2 = (1,)       # 단지 1개의 요소만을 가질 때는 요소 뒤에 쉼표(,)를 반드시 붙여야 한다는 것
t3 = (1, 2, 3)  # 소괄호(())를 생략해도 된다는 점
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

In [2]:
# 1. 튜플 요솟값을 삭제하려 할 때
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [3]:
# 2. 튜플 요솟값을 변경하려 할 때
t1 = (1, 2, 'a', 'b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [4]:
# 인덱싱하기
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [5]:
# 슬라이싱하기
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [6]:
# 튜플 더하기
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

In [7]:
# 튜플 곱하기
t2 = (3, 4)
t3 = t2 * 3
t3

(3, 4, 3, 4, 3, 4)

In [8]:
# 튜플 길이 구하기
t1 = (1, 2, 'a', 'b')
len(t1)

4